header {
  background: url(https://i.ibb.co/Hg9gj5G/bg-header-desktop.png);
  background-size: cover;
  background-color: hsl(179, 28%, 50%);
  height: 10em;
  font-family: "Spartan", sans-serif;
  display: flex;
  justify-content: center;
  position: relative;

  .search-input {
    position: absolute;
    top: 4.5em;
    margin: 0 auto;
    width: 70%;
    padding: 1.5em 2em;
    border: none;
    border-radius: 5px;
    max-width: 1400px;
    box-shadow: 3px 4px #e0dfdf;
    font-family: "Spartan", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: hsl(179, 28%, 50%);
  }
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
}
