section {
  height: 100%;
  padding-top: 4em;
}
.jobs {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Spartan", sans-serif;
}

.box {
  padding: 1em 2em;
  background-color: white;
  border-radius: 10px;
  width: 70%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .left-box {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .job-info {
    margin-left: 1em;
    width: 60%;
    .job-company {
      display: flex;
      align-items: center;

      .job-status {
        background-color: hsl(179, 28%, 50%);
        color: white;
        padding: 0.75em;
        border-radius: 3em;
      }
      .job-featured {
        background-color: hsl(165, 15%, 20%);
        color: white;
        padding: 0.75em;
        border-radius: 3em;
      }
    }
    h3 {
      color: hsl(179, 28%, 50%);
      margin-right: 0.5em;
    }

    .job-title {
      color: hsl(179, 28%, 50%);
      font-weight: 600;
    }
    .extra-info {
      display: flex;
      justify-content: space-between;
      color: gray;
    }
  }

  .right-box {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;

    .tech:hover {
      cursor: pointer;
      color: white;
      background-color: hsl(179, 28%, 50%);
    }
    p {
      background-color: hsl(164, 40%, 98%);
      color: hsl(179, 28%, 50%);
      padding: 0.75em;
      border-radius: 5px;
      font-weight: 600;
      margin-left: 1em;
    }
  }
}

@media screen and (max-width: 600px) {
  .box {
    height: 20em;
    margin-top: 2em;
    width: 80%;

    .left-box {
      margin-top: 2em;
      position: relative;
      width: 100%;

      img {
        position: absolute;
        bottom: 12em;
      }

      .job-info {
        width: 100%;

        .job-company {
          width: 100%;
          flex-wrap: wrap;
        }
      }
    }
  }
}
