<section >
  <div class="jobs" *ngFor="let job of jobs$ |async">
    <div class="box">
      <div class="left-box">
        <img style="height: 6em;width: 6em;" [src]="job.logo" alt="Photosnap">
        <div class="job-info">
          <h3>{{job.company}}</h3>
          <p class="job-title">{{job.position}}</p>
          <div class="extra-info">
            <p>{{job.postedAt}}</p>
            <p>{{job.contract}}</p>
            <p>{{job.location}}</p>
          </div>
        </div>
      </div>
      <div class="right-box" *ngFor="let tool of job.languages">
        <p class="tech">{{tool}}</p>
      </div>
    </div>
  </div>

</section>
